---
Language: Cpp
BasedOnStyle: Microsoft
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
MaxEmptyLinesToKeep: 2
AlignAfterOpenBracket: AlwaysBreak

NamespaceIndentation: All
IndentAccessModifiers: true
IndentCaseLabels: true
IndentCaseBlocks: false
FixNamespaceComments: false
PointerAlignment: Left
BreakAfterReturnType: All
BreakFunctionDefinitionParameters: false
BinPackParameters: AlwaysOnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 0

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortFunctionsOnASingleLine: None
...
